<style>
  @media (max-width: 769px) {
    .navbar:has(.navbar-collapse.collapse:not(.show):not(.collapsing)) {
      /* Avoid double border when collapse bar is closed. */
      border: none !important;
    }
  }
</style>

<div class="navbar px-3 border-bottom">
  <button
    class="navbar-toggler d-md-none"
    type="button"
    data-bs-toggle="collapse"
    aria-controls="collapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
    data-x="toggleButton"
  >
  <!--Boostrap's prescribed method for adding a menu icon 
  (with `<span class="navbar-toggler-icon"></span>`) does't work in this context.
  Hence, the the explicit embedding of the svg.-->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </button>
  <slot name="home"></slot>
  <slot name="aux"></slot>
</div>

<div class="navbar navbar-expand-md py-0 border-bottom">
  <div class="navbar-collapse collapse" data-x="navbarCollapse">
    <slot name="main"></slot>
  </div>
</div>
